<form class="form-horizontal" id="login-form">
    <div class="form-group">
        <label for="admin-username" class="col-sm-2 control-label">Username:</label>
        <input type="text" id="admin-username" />
    </div>
    <div class="form-group">
        <label for="admin-password" class="col-sm-2 control-label">Password:</label>
        <input type="password" id="admin-password" />
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" id="login-button">Login</button>
        </div>
    </div>
</form>