body {
    background-image: url("../images/blog-background.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 87.5%;
    line-height: 1.5;
    color: #FF4500;
    clear: both;
    font-family: special-font;
}

/*Header*/

.mainheader {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.mainheader h1 {
    text-align: center;
}

.menu {
    text-decoration: none;
    color: #FAEBD7;
}

.menu:hover {
    color: #FF4500;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

.mainheader nav {
    opacity: 0.75;
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: none;
    box-shadow: 10px 10px 5px black;
    border-left: 5px solid #FF4500;
    border-right: 5px solid #FF4500;
    height: 60px;
    font-size: 120%;
}

.mainheader nav ul {
    list-style: none;
}

.mainheader nav ul li {
    float: left;
    display: inline;
    margin-left: 10%;
}

.mainheader nav strong {
    font-size: 120%;
    display:inline-block;
    padding: 15px 25px;
    height: 30px;
}

/*Main*/

#wrapper {
    width: 100%;
}

#posts {
    width: 70%;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    float: left;
}

#posts h1 {
    color: #FAEBD7;
}

.post {
    opacity: 0.75;
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: none;
    box-shadow: 10px 10px 5px black;
    color: #FAEBD7;
    margin-bottom: 5%;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    float: left;
}

.post a {
    color: #FF4500;
}

.post a:hover {
    color: #FF4500;
}

.comment-form {
    text-align: left;
}

.comment-button, .post-button, #post-button, .read-more, .add-comment, #view-comments {
    margin: 10px 10px 10px 0;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: #FF4500;
    color: #FAEBD7;
    border: 2px outset #FF4500;
}

.comment-button:hover, .post-button:hover, #post-button:hover, .read-more:hover {
    background-color: white;
    color: #FF4500;
    border: 2px inset #FF4500;
}

.comment-text, #post-content {
    width: 60%;
    height: 200px;
    max-width: 100%;
}

.comment-name, .comment-email, #title, #tags {
    width: 30%;
}

.comment-name, .comment-email, .comment-text, #title, #tags, #post-content {
    margin-top: 10px;
    border: none;
    padding: 5px;
    color: black;
}

#post-form {
    opacity: 0.75;
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: none;
    box-shadow: 10px 10px 5px black;
    color: #FAEBD7;
    margin-top: 5%;
    width: 60%;
    margin: 0 auto;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    float: left;
}

#footer {
    width: 100%;
}

.pagination {
    width: 50%;
    margin: 0 auto;
    text-align:center;
}

.hidden {
    display: none;
}

.post-comments {
    display: none;
}

.post-description {
    height: 150px;
    overflow: hidden;
}
.show {
    height: auto;
}

.post-date {
    float: right
}

.post span {
    font-size: 120%;
    margin-left: 100px;
}

.post img {
    width: 30px;
    height: auto;
}

.post button {
    border-radius: 20px;
}

.hover {
	color: white;
    cursor: pointer;
}

#search-tag {
    border: none;
    padding: 5px;
    height: 30px;
}

.search-button {
    background-image: url('/images/search-icon.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#wrapper {
    width: 70%;
    margin: 0 auto;
}

/*Aside*/

#sidebar {
    opacity: 0.75;
    width: 30%;
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: none;
    box-shadow: 10px 10px 5px black;
    color: #FAEBD7;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    float: right;
}

#most-popular-tags h2, #posts-by-month h2 {
    color: #FF4500;
}

.tag-link, #posts-by-month a {
    color: #FAEBD7;
}

.tag-link:hover, #posts-by-month a:hover {
    color: white;
    text-decoration: none;
}

/*Footer*/

.mainfooter {
    opacity: 0.75;
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: none;
    width: 70%;
    margin: 10px 0 10px 0;
    color: #FF4500;
    text-align: center;
    font-size: 120%;
    margin: 0 auto;
    box-shadow: 10px 10px 5px black;
    border-left: 5px solid #FF4500;
    border-right: 5px solid #FF4500;
}

.mainfooter nav {
    padding: 10px;
}

.mainfooter a {
    color: #FAEBD7;
}

.mainfooter a:hover {
    color: #FF4500;
}
