<article class="post">
    <div class="post-header">
        <h3><a data-id="<%= id %>" href="#" class="get-single-post"><%= title %></a></h3> (<em><%= category.name %></em>)
        <span class="post-date"> Last updated on: <%= publishDate %> </span>
    </div>
    <hr />
    <br />
    <strong>by <%= author %></strong>
    <p><%= content %></p>
    <hr />
    <p>Visits: <%= visits %></p>
    <button class="post-button">View comments</button>
    <button id="add-comment" class="post-button">Add comment</button>
    <br />
    <form class="comment-form hidden">
        <h3>Add a comment to this post</h3>
        <input class="comment-name"type="text" placeholder="Name" />
        <br />
        <input class="comment-email" type="text" placeholder="E-mail" /> *Optional
        <br />
        <textarea class="comment-description" type="text" placeholder="Description" maxlength="300"></textarea>
        <br />
        <input class="comment-button" type="button" value="Comment" />
    </form>
</article>