<article class="post">
    <div class="post-header">
        <h3><strong><a data-id="<%= id %>" href="#" class="get-post"><%= title %></a></strong></h3> (<em><%= category.name %></em>)
        <span class="post-date"><img src="../images/post-date.png" /> Last updated on: <%= publishDate %> </span>
    </div>
    <hr />
    <br />
    <strong>by <%= author %></strong>
    <p class="post-description"><%= content %></p>
    <hr />
    <h4>Visits: <%= visits %>, Comments: <%= comments.length %></h4>
    <button class="read-more">Read more</button>
</article>
